src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:mongodb="http://www.mulesoft.org/schema/mule/mongodb"
      xmlns:git="http://www.mulesoft.org/schema/mule/git"
      xmlns:maven="http://www.mulesoft.org/schema/mule/maven"
      xmlns:freemarker="http://www.mulesoft.org/schema/mule/freemarker"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/mongodb http://www.mulesoft.org/schema/mule/mongodb/3.1/mule-mongodb.xsd
        http://www.mulesoft.org/schema/mule/git http://www.mulesoft.org/schema/mule/git/1.2/mule-git.xsd
        http://www.mulesoft.org/schema/mule/maven http://www.mulesoft.org/schema/mule/maven/1.0/mule-maven.xsd
        http://www.mulesoft.org/schema/mule/freemarker http://www.mulesoft.org/schema/mule/freemarker/1.0/mule-freemarker.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.1/mule-file.xsd
        http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.1/mule-scripting.xsd
        http://www.mulesoft.org/schema/mule/jetty http://www.mulesoft.org/schema/mule/jetty/3.1/mule-jetty.xsd">

    <description>
        JavaDoc as a Service
    </description>

    <git:config directory="/tmp"/>
    <maven:config directory="/tmp"/>

    <mongodb:connector name="mongohq"
                       database="jaas"
                       username="jaas"
                       password="jaas"
                       hostname="flame.mongohq.com:27081"
                       pollingFrequency="600000"/>

    <jetty:connector name="fileServer" configFile="jetty-config.xml"/>

    <flow name="updateRepositories">
        <mongodb:inbound-endpoint collection="repositories"/>
        <splitter evaluator="json" expression=""/>
        <flow-ref name="generateDocForRepository"/>
        <collection-aggregator/>
        <logger level="INFO" message="#[payload]"/>
        <object-to-string-transformer/>
        <json:json-to-object-transformer returnClass="org.mule.tools.jaas.Repository[]"/>
        <flow-ref name="generateIndex"/>
    </flow>

    <flow name="generateIndex">
        <logger message="Generating home page" level="INFO"/>
        <freemarker:transformer template-file="index.ftl"/>
        <logger level="INFO"/>
        <logger level="INFO" message="#[payload]"/>
        <scripting:component>
            <scripting:script engine="groovy">
                def index = new File("/tmp/documentation/index.html")
                index.write(payload)
                index.close
            </scripting:script>
        </scripting:component>
    </flow>

    <flow name="generateDocForRepository">
        <logger message="Processing #[json:name] repository" level="INFO"/>
        <message-properties-transformer>
            <add-message-property key="directory" value="#[string:#[string:/tmp/repositories/]#[json:name]]"/>
            <add-message-property key="docDir" value="#[string:#[string:/tmp/documentation/]#[json:name]]"/>
        </message-properties-transformer>
        <choice>
            <when expression='(new File(message.getProperty("directory"))).exists()' evaluator="groovy">
                <logger message="Pulling master into #[header:directory]" level="INFO"/>
                <git:fetch overrideDirectory="#[header:directory]"/>
            </when>
            <otherwise>
                <logger message="Cloning #[json:uri] into #[header:directory]" level="INFO"/>
                <git:clone overrideDirectory="#[header:directory]" uri="#[json:uri]"/>
            </otherwise>
        </choice>
        <logger message="Generating documentation for #[json:name]" level="INFO"/>
        <maven:execute-goal goal="javadoc:javadoc" overrideDirectory="#[header:directory]">
            <maven:properties>
                <maven:property key="reportOutputDirectory" value="#[header:docDir]"/>
            </maven:properties>
        </maven:execute-goal>
    </flow>
</mule>
